:root {
    --cdc-background: #292929;
    --cdc-background-navbar: #1c1c1c;
    --cdc-foreground: #eee;
    --cdc-primary: #0a3887;
    --cdc-primary-darker: #0a3175;
    --cdc-success: #047600;
    --cdc-fail: #a70101;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
    color: var(--cdc-foreground) !important;
    background-color: var(--cdc-background) !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}

h1, h2, h3, h4, legend {
    color: var(--cdc-foreground) !important;
}

article > section {
    color: #eee !important;
    background-color: #303030 !important;
}

form.default footer {
    background-color: transparent !important;
}

#barBottomContainer, #flex-header, #tabs, #layout_footer {
    background-color: var(--cdc-background-navbar) !important;
}

#barBottomContainer, #tabs {
    border-color: var(--cdc-background-navbar);
}

body:not(.fixed) #barTopMenu li.active>a img, body:not(.fixed) #barTopMenu li:hover>a img {
    filter: hue-rotate(350deg) saturate(100%) brightness(100%)!important;
}

.widget-links.sidebar-navigation>li.active::before, .widget-links.sidebar-views>li.active::before,
.widget-links.sidebar-navigation>li.active::after, .widget-links.sidebar-views>li.active::after {
    content: none !important;
}

.widget-links.sidebar-navigation>li.active, .widget-links.sidebar-views>li.active {
    background: #000000 !important;
    font-weight: 500 !important;
    margin: 0 !important;
    position: static !important;
    box-shadow: none !important;
}

.widget-links.sidebar-views>li.active a, .widget-links.sidebar-navigation>li.active a {
    padding: 0 !important;
}

#tabs:empty {
    display: none;
}

#tabs li, .smiley-tabs li, .helpbar-container, .helpbar-container * {
    background: none !important;
}

#page_title_container, #layout_container {
    background-color: var(--cdc-background) !important;
}

#layout_content, #layout_page, .ui-widget-content {
    background: none !important;
}

#layout-sidebar, .studip-widget .widget-header {
    background: #000 !important;
}

fieldset, #layout-sidebar, .studip-widget, article.studip, section.contentbox {
    border-radius: 4px !important;
    overflow: hidden !important;
    border-color: #505050 !important;
}

a:not(.button), a:link:not(.button), a:visited:not(.button) {
    color: var(--cdc-foreground) !important;
}

table.default>tbody>tr>th, table.default>thead>tr>th {
    background-color: var(--cdc-primary) !important;
    color: var(--cdc-foreground) !important;
}

table.default>tbody>tr>td {
    border-color: #3e4042 !important;
}

table.default>caption {
    color: #757b85 !important; 
}

table.default>tfoot>tr>td {
    background-color: #000 !important;
}

table#schedule_data thead tr td, div.schedule_hours, table#schedule_data tbody td:first-child{
    background: none !important;
    color: #eee !important;
    border-color: #0000 !important;
}

.sortable-table .header, .sortable-table .tablesorter-header:not(.sorter-false) {
    color: #7699cf !important;
}

div.schedule_day, div.schedule_hours, div.schedule_marker {
    border-color: #4e4e4e !important;
}

.sidebar-widget, .sidebar .sidebar-widget-header {
    background: none !important;
    color: #3b74cd !important;
    border-color: #323232 !important;
}
.sidebar .sidebar-widget, .sidebar .sidebar-widget-placeholder {
    border: none !important;
    border-bottom: 1px solid #323232 !important;
}

.ui-widget_head .widget-title {
    color: var(--cdc-foreground) !important;
}

.news_visits {
    color: var(--cdc-success) !important;
}

.blank {
    background-color: transparent !important;
}

.postbody {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #d0d7e3;
    padding: 15px !important;
}

#forum .postprofile {
    border-left: none !important;
}

article.studip header h1 {
    font-weight: 300 !important;
}

article.studip.toggle>header h1>a:before, .icon-role-clickable {
    filter: brightness(2);
}

.icon-role-info, .icon-shape-news, #barTopStudip {
    filter: invert(1) !important;
}

form.default fieldset>legend,
section.contentbox header, article.studip header,
section.contentbox footer {
    background-color: #000 !important;
}

fieldset>legend {
    border: 1px solid rgb(80, 80, 80) !important;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

section.contentbox, article.studip {
    border-color: #6a6a6a !important;
}

input[type=text], input[type=password], select, .ui-dialog, textarea {
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #555 !important;
    border-radius: 4px !important;
}

.ui-dialog.ui-widget.ui-widget-content.studip-confirmation .ui-dialog-titlebar {
    background-color: #f56b26 !important;
    color: var(--cdc-foreground);
}

input::placeholder, textarea::placeholder {
    color: #9b9b9b !important;
}

.js .drag-and-drop {
    background-color: #0000 !important;
    border: 1px #555 solid !important;
    border-radius: 4px !important;
}

.ui-widget-content {
    color: #eee !important;
}

.ui-button, .button, a.button:hover {
    background: var(--cdc-primary) !important;
    border-radius: 4px !important;
    border: none !important;
    color: var(--cdc-foreground) !important;
}

.button::before, .ui-button::before, a.button::before, .ui-button-icon-primary {
    filter: invert(1) sepia(1) grayscale(1) brightness(1) !important;
}

.ui-button:hover, .button:hover, a.button:hover {
    background: var(--cdc-primary-darker) !important;
}

#forum .posting {
    background-color: #2a2a2a !important;
}

table.dates .nextdate {
    background-color: #132646 !important;
}

input#globalsearch-icon {
    border: none !important;
    border-radius: 0 !important;
}

#blubber_threads .comments .posting {
    background-color: #000 !important;
}

.contextinfo, #blubber_threads .comments {
    background-color: #1f3a62 !important;
}

.ui-dialog {
    overflow: hidden;
    padding: 0 !important;
}

.message_body {
    background-color: #2e2e2e !important;
}

.cke_inner {
    background: #000 !important;
}

.cke_toolbox {
    filter: invert(1) !important;
}

.cke_wysiwyg_frame, .cke_wysiwyg_div {
    background-color: #121212 !important;
    color: #eee !important;
}

#notification_marker {
    background-color: #000 !important;
    color: #406eb5 !important;
}

.action-menu-content {
    background-color: #000 !important;
}

.action-menu-title {
    color: #eee !important;
}

form.default fieldset.select_terms_of_use>input[type=radio]:checked+label {
    background-color: #000 !important;
}

#blubber_threads li.more {
    background-color: #000 !important;
}

#blubber_threads li.more:hover {
    background-color: #101010 !important;
}

#current_page_title {
    font-weight: 500 !important;
    font-size: 1.8em !important;
}

.avatar-small {
    border-radius: 50%;
}

#notification_marker {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.action-menu-icon, .action-menu-icon img {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.index_container div.index_main {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 50px !important;
    background-color: hsl(0deg 0% 7% / 80%) !important;
}

div.schedule_entry dl {
    overflow: hidden;
}

.messagebox {
    border-radius: 10px;
    color: var(--cdc-foreground) !important;
    background-color: transparent !important;
}

.messagebox_success {
    border-color: var(--cdc-success);
}
.messagebox_error {
    border-color: var(--cdc-fail);
}
.messagebox_info {
    border-color: var(--cdc-primary);
}

.messagebox_buttons {
    top: 50% !important;
    right: 10px !important;
    transform: translateY(-50%) !important;
    display: flex !important;
}

.messagebox_buttons a.close {
    display: flex !important;
    align-items: center;
    background-image: none !important;
}

.messagebox_buttons a.close::after {
    content: "\00D7";
    font-size: 30px;
}

.messagebox_success a.close::after {
    color: var(--cdc-success);
}
.messagebox_error a.close::after {
    color: var(--cdc-fail);
}
.messagebox_info a.close::after {
    color: var(--cdc-primary);
}